

      body {
      text-align: center;
      }
      #container {
        width: 60%;
        min-width: 20em;
        margin: 0 auto;
   
      }
      div {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        font-size: 4em;
        margin-bottom: -.1em;
      }
      #a1, #a2, #b1, #b2 {
        border-right: .2em red solid;
        border-bottom: .2em red solid;
        
      }
      
      #a3, #b3 {
        border-bottom: .2em red solid;
        
      }
      
      #c1, #c2 {
        border-right: .2em red solid;
      }
        
      span {
        font-family: sans-serif;
        vertical-align: center;
        color: white;
        font-size: 1.4em;
      }
      .default {
        visibility: hidden;
      }

      .x, .o{
        color: red;
      }

      .xo {
        display: none;
      }

      #koala {
      max-width: 100%;
      height: .75em;
      }

      #emu {
      max-width: 100%;
      height: .75em;
      }

  

